.headerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -80px;
    padding: 13px 20px;
    align-items: center;
}

.headerSection > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 630px;
    align-items: center;
}

.headerSection > P {
    font-size: 20px;
    font-weight: 700;
}
